.twitter-user {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
}

.profile-picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
}

p {
  font-family: Arial;
  font-size: 20px;
}

.user-name {
  font-weight: bold;
}

.add-friend {
  font-size: 20px;
  border-width: 0;
  background-color: blue;
  color: white;
  padding: 12px 25px;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.add-friend:hover {
  opacity: 0.8;
}

.add-friend:active {
  color: blue;
  background-color: white;
}