.amazon-button {
    background-color: rgb(255, 216, 20);
    color: black;
    border-width: 0;
    height: 36px;
    width: 120px;
    border-radius: 18px;
    margin-right: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .amazon-button:hover {
    background-color: goldenrod;
  }