.back {
  padding: 10px;
  margin-right: 8px;
}

.first {
  padding: 0 5px;
}

.second {
  padding: 0 5px;
}

.third {
  padding: 0 5px;
}

.fourth {
  padding: 0 5px;
}

.fifth {
  padding: 0 5px;
}

.next {
  padding: 10px;
  margin-left: 8px;
}