.avatar {
  width: 60px;
  height: 60px;
  object-fit: cover;
  object-position: center;
  border-radius: 30px;
}

.twitter-text-box {
  margin-top: 0;
  height: 60px;
  width: 400px;
  vertical-align: top;
  font-size: 20px;
  border-width: 0px;
}

.twitter-box-tweet {
  color: white;
  background-color: deepskyblue;
  vertical-align: top;
  height: 60px;
  width: 120px;
  border-width: 0;
  font-weight: bold;
  font-size: larger;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.twitter-box-tweet:hover {
  background-color: cornflowerblue;
}