.subscribe-button {
background-color: rgb(200, 0, 0);
color: white;
border: none;
padding: 10px 16px;
border-radius: 3px;
cursor: pointer;
margin-right: 8px;
margin-bottom: 8px;
transition: opacity 0.2s;
}

.subscribe-button:hover {
opacity: 0.8;
}

.subscribe-button:active {
opacity: 0.6;
}

.join-button {
background-color: white;
color: rgb(41, 118, 211);
border-radius: 3px;
cursor: pointer;
padding: 9px 16px;
border-color: rgb(41, 118, 211);
border-width: 1px;
margin-right: 8px;
margin-bottom: 8px;
transition: background-color 0.2s,
  color 0.2s;
}

.join-button:hover {
background-color: rgb(41, 118, 211);
color: white;
}

.join-button:active {
opacity: 0.7;
}

.tweet-button {
background-color: rgb(2, 158, 255);
color: white;
height: 36px;
width: 78px;
border-width: 0;
border-radius: 18px;
font-weight: bold;
font-size: 15px;
cursor: pointer;
margin-right: 8px;
margin-bottom: 8px;
transition: box-shadow .15s;
}

.tweet-button:hover {
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}