p {
  text-align: center;
  font-family: Arial;
  margin-bottom: 16px;
  margin-top: 0;
}

.macbook-first-p {
  color: orange;
}

.macbook-second-p {
  font-weight: bold;
  font-size: large;
}

.macbook-third-p {
  font-weight: bold;
  font-size: xx-large;
}

.macbook-fourth-p {
  color: #606060;
}

.macbook-buy-button {
  position: absolute;
  left: 45%;
  right: 45%;
  text-align: center;
  color: white;
  background-color: blue;
  border-width: 0;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}